* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #364153;
    background-image: url("./assets/bg-illustration.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 30%) 75%;
    background-size: auto 80%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.content-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.content-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.content-logo img {
    max-width: 256px;
}

.content-input {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#url {
    width: 100%;
    height: 50px;
    padding: 10px 50px 10px 15px;
    border-radius: 15px;
    border: 2px solid #3662E3;
    box-sizing: border-box;
    font-size: 16px;
    background: #111729;
    color: #4e80ee33;
    outline: none;
}

#btn-generate {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    background-color: #3662E3;
    color: #F2F5F9;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.content-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.hidden {
    display: none;
}  

.content-header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.content-header img {
    max-width: 150px;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-qr-code {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    width: 200px;
    height: 200px;
    background-color: rgba(54, 98, 227, 0.15);
    border-radius: 50%; 
}

.content-qr-code img {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    z-index: 1; 
}

.content-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#btn-download , #btn-share {
    background-color: #3662E3; 
    color: #F2F5F9;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.content-buttons button:focus {
    outline: none;
}


@media screen and (min-width: 1441px) {
    body {
        background-position: calc(100% - 30%) 65%;
        background-size: auto 70%;
    }
}


@media screen and (max-width: 1440px) and (min-width: 768px) {
    body {
        background-position: calc(100% - 30%) 75%;
        background-size: auto 80%;
    }
}


@media screen and (max-width: 767px) {
    body {
        background-position: calc(100% - 10%) 35%;
        background-size: auto 60%;
    }

    .content-qr-code {
        width: 160px;
        height: 160px;
    }

    .content-qr-code img {
        width: 80%;
        padding: 15px;
    }

    #btn-download, #btn-share {
        width: 140px;
        padding: 12px 20px;
        font-size: 14px;
    }
}
